{
    "aliveStatusCodes": [200, 206, 403],
    "timeout": "10s",
    "retryOn429": "true",
    "retryCount": 3,
    "fallbackRetryDelay": "10s",
    "projectBaseUrl": "https://docs.ondat.io",
    "ignorePatterns": [
        {
            "pattern": "^http://localhost"
        },
        {
            "pattern": "^http://127.0.0.1"
        }
    ],
	"replacementPatterns": [
		{
			"pattern": "^/",
			"replacement": "https://docs.ondat.io/"
		}
	]
}
